@model DepartmentDetailsDTO
@{
    ViewData["Title"] = "Details";
    ViewData["Id"] = Model.Id;
}

<h1 class="my-5 w-75 m-auto">Department Details</h1>
<br />
<br />


<partial name="Partial/DetalisDeleteDepartmentPrtial" />